* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mooli", sans-serif;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h2 {
  color: rgb(176, 47, 0);
  text-decoration: underline;
  font-size: 2rem;
  padding: 1.5rem;
  border-bottom: solid 2px black;
  border-top: solid 2px black;
  background-color: rgb(246, 193, 131);
  text-align: center;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
}
h1 {
  font-size: 50px;
  padding: 1rem;
}

body {
  background-color: rgb(246, 193, 131);
}

.conteiner {
  max-width: 1050px;
  margin: 0 auto;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  background-color: black;
  color: darkorange;
  padding: 2rem;
}

footer span {
  font-size: 10px;
}

footer a {
  color: darkorange;
}

/*------------SECCION CARACT----------*/
.sec-caract {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .sec-caract {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    font-size: 15px;
  }
}
@media (min-width: 1024px) {
  .sec-caract {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
/*----------------TARJETAS-------------*/
.card-img-top {
  object-fit: cover;
  height: 350px;
}

.card-body {
  background-color: rgb(246, 193, 131);
  height: 100%;
}

.card {
  justify-self: center;
  background: linear-gradient(145deg, #ddae76, #ffcf8c);
  border: solid 3px;
  box-shadow: 7px 7px 29px #1a150e, -7px -7px 29px #32291d;
  animation: aparicion 2s ease-in-out;
}

@keyframes aparicion {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.custom-popover {
  background-color: rgb(246, 193, 131);
  color: black;
  box-shadow: rgb(0, 0, 0) 0px 19px 38px, rgba(0, 0, 0, 0.2) 0px 15px 12px;
}

/*----------NAVEGADOR CON IMAGENES---------*/
.menu {
  display: flex;
  justify-content: center;
  text-align: center;
}
.menu__img {
  border-radius: 40%;
  width: 16vh;
  margin: 0 auto;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .menu__img {
    width: 30%;
    padding: 1rem;
  }
}
/*--------------TITULOS-------------*/
@media (min-width: 768px) {
  .clas-titulo {
    text-align: start;
    padding: 1rem 6rem;
    border-top: solid 2px black;
    color: rgb(176, 47, 0);
  }
  .levadura {
    text-align: end;
    padding: 1rem 6rem;
    border-top: solid 2px black;
    color: rgb(176, 47, 0);
  }
}
/*------------CLASIFICACION-----------*/
.tipos {
  width: 100%;
  margin: 0 auto;
}
.tipos__parrafo {
  text-align: center;
  padding: 1rem;
}

.clasificacion {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.clasificacion1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 768px) {
  .tipos {
    max-width: 40%;
    padding: 0px 1rem;
  }
  .clasificacion {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }
  .clasificacion1 {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    align-items: center;
  }
}
/*----------------TEXTO-CLASIFICACION-------------*/
@media (min-width: 1024px) {
  .tipos__parrafo {
    font-size: 25px;
  }
}
/*------------PORTADA----------------*/
.portada {
  background-image: url(../img/introduccion1.jpg);
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
}
.portada__introduccion {
  background-color: rgba(0, 0, 0, 0.473);
  margin: 0 3rem;
  border-radius: 20%;
  padding: 1rem;
  text-align: center;
  font-size: 11px;
}

@media (min-width: 768px) {
  .portada__introduccion {
    font-size: 18px;
    margin: 0 5rem;
  }
}
@media (min-width: 1024px) {
  .portada__introduccion {
    margin: 0 8rem;
    font-size: 20px;
  }
}
/*----------BARRA NAVEGADOR DEFINICION---------*/
.barra-def {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 1.5rem;
  gap: 1rem;
}

@media (min-width: 768px) {
  .barra-def {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1.5rem;
    font-size: 20px;
  }
}
nav ol li a {
  color: darkorange;
}

/*-------------Definicion articulos---------------*/
.def-art {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(246, 193, 131);
}

@media (min-width: 1024px) {
  .def-art {
    flex-direction: column;
    font-size: 25px;
  }
  .def-art__img {
    object-fit: cover;
    object-position: center;
    gap: 1rem;
  }
}
/*----------------ANIMACION-------------*/
.animacion {
  padding: 0 2rem;
  display: block;
  opacity: 0;
  animation: aparecer 3s ease-in forwards;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*---------------Navegador---------------*/
.usos {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.usos__nav {
  font-size: 10px;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.473);
  border-radius: 40%;
}

.gastro {
  background-image: url(../img/gastronomic.jpg);
  background-position: center;
  height: 30vh;
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.medic {
  background-image: url(../img/medici.jpg);
  background-position: center;
  height: 30vh;
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recrea {
  background-image: url(../img/recreativo0.jpg);
  height: 30vh;
  width: 32%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .usos__nav {
    font-size: 20px;
  }
}
/*-------------GASTRONOMICO-------------*/
.art {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;
  font-size: 15px;
  background-color: rgb(246, 193, 131);
  justify-content: center;
  align-items: center;
  max-width: 1000PX;
  border-radius: 10%;
}
.art__definicion {
  padding: 1rem;
  font-size: 20px;
}
.art img {
  height: 150px;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .art {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
    gap: 2rem;
  }
  .art__definicion {
    grid-column: span 2;
    font-size: 25px;
  }
}
/*--------------------MEDICINAL---------------------*/
.articulos {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  gap: 1rem;
}
.articulos__nombres {
  text-decoration: underline;
  font-size: 25px;
}
.articulos__img {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .articulos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .articulos__texto {
    grid-column: span 2;
    font-size: 25px;
  }
  .articulos__definicion {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}
/*----------------RECREATIVO-----------------*/
.uso {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  gap: 1rem;
}
.uso__nombres {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .uso {
    font-size: 25px;
  }
}
/*-----------------INDEX-------------------*/
.index {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem;
}
.index__titulo {
  border-bottom: solid 2px black;
  animation: cambiarColor 3s infinite;
}
@keyframes cambiarColor {
  0% {
    color: rgb(246, 193, 131);
  }
  50% {
    color: rgb(176, 47, 0);
  }
  100% {
    color: rgb(252, 158, 50);
  }
}
.index__texto {
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  border: solid 2px black;
  box-shadow: rgba(0, 0, 0, 0.558) 0px 19px 38px, rgba(0, 0, 0, 0.629) 0px 15px 12px;
}
.index__video {
  height: 40vh;
}

@media (min-width: 768px) {
  .index {
    gap: 3rem;
  }
  .index__video {
    height: 60vh;
  }
  .index__texto {
    font-size: 25px;
    margin: 0 20px;
  }
}
/*----------------VIDEO----------------*/
@media (min-width: 1024px) {
  .index__video {
    height: 70vh;
    max-height: 560px;
  }
}

/*# sourceMappingURL=styles.css.map */
