/*------------SECCION CARACT----------*/

.sec-caract {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem;
    text-align: center;

}

@media (min-width: 768px) {

    .sec-caract {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        text-align: center;
        font-size: 15px;


    }


}

@media (min-width: 1024px) {

    .sec-caract {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}

/*----------------TARJETAS-------------*/

.card-img-top {
    object-fit: cover;
    height: 350px;
}

.card-body {

    background-color: $color-claro;
    height: 100%;
}

.card {
    justify-self: center;
    background: linear-gradient(145deg, #ddae76, #ffcf8c);
    border: solid 3px;
    box-shadow: 7px 7px 29px #1a150e,
        -7px -7px 29px #32291d;
    animation: aparicion 2s ease-in-out;


}


@keyframes aparicion {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.custom-popover {
    background-color: $color-claro;
    color: black;
    box-shadow: rgba(0, 0, 0, ) 0px 19px 38px, rgba(0, 0, 0, 0.2) 0px 15px 12px;
}