/*----------NAVEGADOR CON IMAGENES---------*/

.menu {
    display: flex;
    justify-content: center;
    text-align: center;



    &__img {
        border-radius: 40%;
        width: 16vh;
        margin: 0 auto;
        padding: 0.5rem;

    }
}

@media (min-width: 768px) {

    .menu__img {
        width: 30%;
        padding: 1rem;

    }
}

/*--------------TITULOS-------------*/

@media (min-width: 768px) {

    .clas-titulo {
        text-align: start;
        padding: 1rem 6rem;
        border-top: solid 2px black;
        color: $color-orange;

    }

    .levadura {

        text-align: end;
        padding: 1rem 6rem;
        border-top: solid 2px black;
        color: $color-orange;
    }
}

/*------------CLASIFICACION-----------*/

.tipos {
    width: 100%;
    margin: 0 auto;

    &__parrafo {
        text-align: center;
        padding: 1rem;

    }
}

.clasificacion {
    @include mobile
}

.clasificacion1 {
    @include mobile
}


@media (min-width: 768px) {


    .tipos {
        max-width: 40%;
        padding: 0px 1rem;

    }


    .clasificacion {

        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;


    }

    .clasificacion1 {

        display: flex;
        flex-direction: row-reverse;
        text-align: center;
        align-items: center;

    }
}

/*----------------TEXTO-CLASIFICACION-------------*/

@media (min-width: 1024px) {
    .tipos__parrafo {
        font-size: 25px;
    }

}