/*------------PORTADA----------------*/

.portada {
  background-image: url(../img/introduccion1.jpg);
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  text-align: center;
  color: $color-white;
  display: flex;
  align-items: center;

  &__introduccion {
    background-color: rgba(0, 0, 0, 0.473);
    margin: 0 3rem;
    border-radius: 20%;
    padding: 1rem;
    text-align: center;
    font-size: 11px;

  }

}

@media (min-width: 768px) {
  .portada__introduccion {
    font-size: 18px;
    margin: 0 5rem;

  }
}

@media (min-width: 1024px) {

  .portada__introduccion {

    margin: 0 8rem;
    font-size: 20px;


  }

}

/*----------BARRA NAVEGADOR DEFINICION---------*/

.barra-def {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-black;
  padding: 1.5rem;
  gap: 1rem;


}

@media (min-width: 768px) {




  .barra-def {

    flex-direction: row;
    justify-content: space-evenly;
    padding: 1.5rem;
    font-size: 20px;


  }
}

nav ol li a {
  color: $color-naranja;

}

/*-------------Definicion articulos---------------*/


.def-art {

  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: $color-claro;


}

@media (min-width: 1024px) {


  .def-art {

    flex-direction: column;
    font-size: 25px;


    &__img {

      object-fit: cover;
      object-position: center;
      gap: 1rem;

    }
  }
}

/*----------------ANIMACION-------------*/


.animacion {
  padding: 0 2rem;
  display: block;
  opacity: 0;
  animation: aparecer 3s ease-in forwards;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}