/*-----------------INDEX-------------------*/
.index {

  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem;

  &__titulo {

    border-bottom: solid 2px black;
    animation: cambiarColor 3s infinite;

  }

  @keyframes cambiarColor {
    0% {
      color: $color-claro;
    }

    50% {
      color: $color-orange;
    }

    100% {
      color: $color-mostaza ;
    }
  }

  &__texto {

    text-align: center;
    padding: 1rem;
    font-size: 20px;
    border: solid 2px black;
    box-shadow: rgba(0, 0, 0, 0.558) 0px 19px 38px, rgba(0, 0, 0, 0.629) 0px 15px 12px;
  }

  &__video {

    height: 40vh;

  }

}


@media (min-width: 768px) {

  .index {

    gap: 3rem;

    &__video {

      height: 60vh;
    }

    &__texto {

      font-size: 25px;
      margin: 0 20px;
    }
  }

}

/*----------------VIDEO----------------*/

@media (min-width: 1024px) {

  .index__video {

    height: 70vh;
    max-height: 560px;
  }

}