/*---------------Navegador---------------*/

.usos {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;

    &__nav {

        font-size: 10px;
        padding: 10px;
        color: $color-white;
        background-color: rgba(0, 0, 0, 0.473);
        border-radius: 40%;

    }
}

.gastro {
    background-image: url(../img/gastronomic.jpg);
    background-position: center;
    height: 30vh;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.medic {
    background-image: url(../img/medici.jpg);
    background-position: center;
    height: 30vh;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.recrea {
    background-image: url(../img/recreativo0.jpg);
    height: 30vh;
    width: 32%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;


}

@media (min-width: 1024px) {

    .usos__nav {
        font-size: 20px;
    }

}


/*-------------GASTRONOMICO-------------*/


.art {

    gap: 1rem;
    @include mobile;
    padding: 0 1rem;
    font-size: 15px;
    background-color: $color-claro;
    justify-content: center;
    align-items: center;
    max-width: 1000PX;
    border-radius: 10%;


    &__definicion {
        padding: 1rem;
        font-size: 20px;


    }

    & img {

        height: 150px;
        object-fit: cover;


    }

}


@media (min-width: 1024px) {

    .art {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3rem;
        gap: 2rem;

        &__definicion {
            grid-column: span 2;
            font-size: 25px
        }
    }

}

/*--------------------MEDICINAL---------------------*/

.articulos {
    @include mobile;

    padding: 2rem;
    gap: 1rem;

    &__nombres {
        text-decoration: underline;
        font-size: 25px
    }

    &__img {
        @include mobile;
        justify-content: space-evenly;
        gap: 1rem;
    }



}

@media (min-width: 1024px) {

    .articulos {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__texto {
            grid-column: span 2;
            font-size: 25px;
        }

        &__definicion {
            @include mobile;
            gap: 1rem;
        }

    }
}

/*----------------RECREATIVO-----------------*/

.uso {
    @include mobile;
    padding: 2rem;
    gap: 1rem;

    &__nombres {
        text-decoration: underline;
    }
}

@media (min-width: 1024px) {

    .uso {
        font-size: 25px;
    }
}