.usos{
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   

&__nav {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-right: 32px;
    margin-top: 40px;
    
    
    }
    
}

.introduccion{

    font-size: 15px;
}


.gastro{
    background-image: url(../img/gastronomic.jpg);
    background-position: center;
    min-height: 30vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}

.medic{
    background-image: url(../img/medici.jpg);
    background-position: center;
    min-height: 30vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.recrea{
    background-image:url(../img/recreativo0.jpg) ;
    min-height: 30vh;
    width: 30vw;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.nav h3{ 

    font-size: 10px;
    padding: 10px;
    color: $color-white;
    background-color: rgba(0, 0, 0, 0.473);
    padding: 10px;
    border-radius: 40%;
    
  
}

/*------------------------------------------------------ART-USOS-----------------------------------------------------------------------*/

.usos__art { 

    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    gap: 1rem;
    font-size: 15px;
    background-color: $color-claro;
    justify-content: center;
   align-items: center;
   max-width: 1000PX;
   border-radius: 10%;
}

.nombres{
        padding: 1rem;
        font-size: 20px;
        color:$color-orange;
        


.nombres__definicion {  
    padding: 2rem;
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 1rem;
   
   
    
}
}
.usos__art h6 {
    font-size: 17px;
    

}


.usos__img img{
    
    max-width: 40vw;
    object-fit: cover;
}

.usos__titulo{
    padding: 2rem;
    align-items: center;
    justify-content: center;
    font-size: 30px;



}

@media (min-width: 768px) {

.usos__art {

    flex-direction: row;
    justify-content: start;
    text-align: left;
    

    }



.usos__img {

    display: flex;
    align-items: center;
    padding: 2rem;
    min-width: 50px;
    object-fit: cover;
    align-items: space-evenly;
    gap: 1rem;
    flex-direction: column;

    }

.usos__nav {

    flex-direction: row;
    justify-content: center;
    align-items: center;
  

    
    

    }

.usos__texto{

        max-width: 300px;
    


    }   

.texto__definicion{


     position: absolute;
    text-align: end;
   height: 100vh;
    width: 70vw;
    font-size: 19px;
    color: rgb(21, 98, 57);
    
   


}


 .texto-animacion{

    margin-top: 7rem;


        animation: fade 2s ease-in-out infinite;
      }
    @keyframes fade {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
        }
      }

      
}



    
@media (min-width: 1024px) {

.usos__texto{
    max-width: 500px;
   
}   
.navegador{

    
    flex-direction: row;



}

.usos__titulo{

    font-size: 50px;
    
}

.usos__art {

    font-size: 30px;
   
}

.usos__art img {
    
    max-width: 400px;
}
.nombres{

    font-size: 30px;

&__definicion{
        
    font-size: 30px;

}

&__explicacion{

    font-size: 24px;
}

}

.texto-animacion{

margin-top: 10rem;

}




}