


.barra-nav{
    display: flex;
    flex-direction: colum;
    justify-content: space-between;
    background-color: $color-black;
    color: $color-naranja;
    align-items: center;
    text-align: center;
    gap: 1rem;
    
}

.active{
    text-decoration: underline;
    
}


header nav ol li a {
    color: $color-naranja;
    align-items: center;
}

header nav ol { 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


@media (min-width: 768px) {


    header nav ol {

       flex-direction: row;
       gap: 1rem;
       
       
   
    }




      
     
    }

 


